.hide				{ display: none; }
#files				{ margin: 2em auto; 
				  padding: 0 1em; }
#files ul			{ list-style-type: none; 
				  padding: 0; }
#files ul li > *		{ display: block; 
				  text-overflow: ellipsis;
				  overflow: hidden; }
#files ul li			{ padding: 4pt; }
#files ul li + li		{ margin-top: 4pt; }
#files ul li:nth-child(odd)	{ background-color: #f0f0f0; }
#nofilemods, #filemods		{ padding: 0 1em; }
#filemods .file-name .fa	{ vertical-align: middle; }
#filemods > form		{ margin: 1em auto; }
#form-logout			{ margin: 0; }

.immutable .has-mutable		{ display: none; }
.mutable .has-immutable		{ display: none; }
.empty .is-nonempty		{ display: none; }
.nonempty .is-empty		{ display: none; }
.root .is-nonroot		{ display: none; }
.nonroot .is-root		{ display: none; }
.has-login			{ display: none; }
.loggedin .has-login		{ display: block; }

#loginpage .container > *	{ max-width: 400px; 
				  margin: 1.12em auto; }
#loginpage .errormsg		{ display: none; }
#loginpage.error-badcreds #errormsg-badcreds,
#loginpage.error-nofield #errormsg-nofield,
#loginpage.error-syserr #errormsg-syserr
				{ display: block; }
#page				{ padding-bottom: 1em; }

@media (min-width: 750px) {
 #files				{ padding: 0; }
 #files ul li			{ display: flex; }
 #files ul li > :first-child	{ flex: 1; }
 #files ul li > *		{ padding: 0 4pt; }
 #files ul li + li		{ margin-top: 4pt; }
 #nofilemods, #filemods		{ padding: 0; }
}
